:root {
    --TranslateCarrusel: 00%;
    --ModoNoche: white;
    --ModoNocheFont: #181818;
}

.Contenedor,
.Contenedor1,
.Contenedor2
 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--ModoNoche);
    display: flex;
    flex-direction: row;
    transition: all 800ms;
    margin-top: -0.4%;
    margin-left: -0.4%;
    transform: translateY(var(--TranslateCarrusel));
    background-color: #C63636;
}

.Contenedor1
 {
    background-color: #3496db;
    transform: translateY(calc(var(--TranslateCarrusel) + 100%));
}

.Contenedor2
 {
    background-color: #6B874C;
    transform: translateY(calc(var(--TranslateCarrusel) + 200%));
}

.img1,
.img2,
.img01,
.img02 {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 100vh;
}

.img1 {
    left: 0%;
    background-image: url("../img/img11.jpg");
}

.img2 {
    right: 0%;
    background-image: url("../img/image12.png");
}

.img1 img {
    width: auto;
    height: 100.2vh;
}

.img1 img {
    width: auto;
    height: 100.2vh;
}


.imgM,
.imgM0,
.imgM1,
.imgM2,
.imgM3,
.imgM01,
.imgM001,
.imgM01,
.imgM02,
.imgM03,
.imgM21{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 450px;
    background-color: white;
    z-index: 2;
}

.imgM {
    left: 5%;
    top: 40%;
}


.imgM0 {
    left: 2.5%;
    top: 5%;
    width: 200px;
    height: 300px;
    transform: rotate(15deg);
}

.imgM1 {
    left: 20%;
    top: 25%;
    transform: rotate(-25deg);
    width: 400px;
    height: 600px;
}

.imgM2 {
    right: 3%;
    top: 30%;
}

.imgM3 {
    width: 400px;
    height: 600px;
    right: 20%;
    top: 10%;
    transform: rotate(20deg);
}

#imgFeliz {
    position: absolute;
    width: 700px;
    height: 500px;
    right: 30%;
    top: 0%;
    transform: rotate(-20deg);
    z-index: 5;
}

/* Contenedor 1 */

.imgM01 {
    right: 3%;
    top: 30%;
    width: 400px;
    height: 600px;
}

.imgM01 {
    right: 3%;
    top: 30%;
    width: 400px;
    height: 600px;
}

.imgM001{
    left: 28%;
    top: 30%;
    width: 400px;
    height: 600px;
}

.imgM02{
    left: 15%;
    top: 5%;
    width: 300px;
    height: 400px;
}

.imgM21{
    left: 3%;
    top: 30%;
    width: 400px;
    height: 600px;
}

.imgM03{
    right: 20%;
    top: 10%;
    width: 400px;
    height: 600px;
}


/* Contenedor 2 */

 .Contenedor2 .imgM01 {
    right: 3%;
    top: 30%;
    width: 400px;
    height: 600px;
     transform: rotate(20deg);
}

 .Contenedor2 .imgM01 {
    right: 3%;
    top: 30%;
    width: 400px;
    height: 600px;
    
}

.Contenedor2 .imgM001{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 500px !important;
    height: 450px !important;
    background-color: white;
    z-index: 2;
}

 .Contenedor2 .imgM001{
    left: 40%;
    top: 0%;
    width: 400px;
    height: 600px;
     transform: rotate(-10deg);
}

 .Contenedor2 .imgM02{
    left: 15%;
    top: 5%;
    width: 300px;
    height: 400px;
}

 .Contenedor2 .imgM21{
    left: 3%;
    top: 30%;
    width: 400px;
    height: 600px;
}

 .Contenedor2 .imgM03{
    right: 20%;
    top: 10%;
    width: 400px;
    height: 600px;
}




#FormatoIMG {
    width: auto;
    height: auto;
    padding: 5% 1%;
    padding-bottom: 25%;
}


/* Garabatos */

/* Contenedor1 */
.Contenedor1 #GarabatoC11 {
    position: absolute;
    top: 4%;
    right: 47%;
    width: 100px;
    height: auto;
}

.Contenedor1 #GarabatoC12 {
    position: absolute;
    top: 35%;
    right: 40%;
    width: 200px;
    height: auto;
}


.Contenedor1 #GarabatoC13 {
    position: absolute;
    top: 65%;
    right: 48%;
    width: 150px;
    height: auto;
    z-index: 5;
}

.Contenedor2 #GarabatoC11 {
    position: absolute;
    top: 4%;
    right: 0%;
    width: 300px;
    height: auto;
}

.Contenedor2 #GarabatoC12 {
    position: absolute;
    top: 35%;
    right: 40%;
    width: 300px;
    height: auto;
}


.Contenedor2 #GarabatoC13 {
    position: absolute;
    top: 65%;
    right: 48%;
    width: 450px;
    height: auto;
    z-index: 5;
}

/* ================= OVERLAY ================= */
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  z-index: 9000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

#overlay.activo {
  opacity: 1;
  pointer-events: all;
}

/* ================= MODAL ================= */
#modalImg {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

#modalImg.activo {
  opacity: 1;
  pointer-events: all;
}

/* ================= IMAGEN ================= */
#modalImg img {
  max-width: 85vw;
  max-height: 85vh;
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 25px 80px rgba(0,0,0,0.6);
  object-fit: contain;
  transform: scale(0.85);
  transition: transform 300ms ease;
  cursor: pointer;
}

#modalImg.activo img {
  transform: scale(1);
}
